{% import 'lib.html' as lib with context %}

<title>{{page_name}}</title>
{{ lib.render_style() }}
<body>
<h1 style="text-align: center;">{{page_name}}</h1>
<div class="row">
    <div class="col-md-1">
        <h2 style="text-align: center;">Statistics</h2>
        <br><hr><br>
        <h4>Total users: {{statistics.users}}</h4>
        <br>
        {% for challenge in statistics.challenges %}
            {{ lib.render_challenge_table(challenge) }}
            <br>
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% if picture_name %}
            <img src="/files/{{picture_name}}" height="640px">
        {% endif %}
    </div>
</div>
<meta http-equiv="refresh" content="20">
</body>
